body {
    background-image: url('../images/pokeball.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.form-register {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #333;
}

h2 {
    margin-top: 0;
    color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    background-color: #444;

}

input[type="submit"] {
    background-color: #444;
    color: #fff;
    border: 2px solid beige;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}