body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
    margin-left: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos del formulario de búsqueda */
main {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #666;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
}

.pokemon-list {
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #a5a5a5;
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
}

.logout-button:hover {
    background-color: darkred;
}

.logout-icon {
    width: 20px;
    filter: invert(100%);
    margin-left: 0.5rem;
}


h2 {
    margin-top: 0;
}

.pokemon-inexistente {
    color: white;
    background-color: #f44336;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.cancion {
    height: 1.2em;
}

