    .pokemon-agregado {
        color: #00a600;
        font-weight: bold;
        font-family: system-ui;
        background-color: #e0ffc2;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        border-radius: 6px;
        width: 500px;
        margin-bottom: 20px;
    }

    .form-add-pokemon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 20px;
    }

    .button-add-pokemon {
        width: 150px;
        height: 40px;
        border: none;
        background-color: #dedede;
        border-radius: 6px;
    }

    .button-add-pokemon:hover {
        cursor: pointer;
        transform: scale(1.03);
    }

    .input-add {
        width: 815px;
    }